@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--background: #1f1f1f;
	--card: #10b96a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

body {
	margin: 1rem;
	color: #F3F4F6;
	background-color: var(--background);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
}

h1 {
    margin: 0.5rem;
}

main {
	margin: auto;
	max-width: 800px;
	padding: 2rem;
	border-radius: 0.2rem;
	border: 1px solid rgb(104, 104, 104);
	background-color: var(--card);
	color: black;
}





button{
	border-radius: 0.2rem;
	border: 1px solid rgb(104, 104, 104);
	width: 100%;
	margin: 1rem auto;
	padding: 0.5rem;
	font-size: 1rem;
	background-color: aliceblue;
}

.bdate, .lucky {
	margin: 1rem auto;
}

input, .privacy, #result  {
	font-size: 0.8rem;
	margin: 0.5rem 0;
	padding: 0.35rem;
	border-radius: 0.2rem;
	width: 100%;
	outline: none;
	border: 1px solid rgb(104, 104, 104);
}

button {
	background-color: aliceblue;
	color: black;
	font-weight: bold;
	cursor: pointer;
	width: 40%;
	border-radius: 0.6rem;
}

#result {
	display: none;
	font-size: 1rem;
	color: #F3F4F6;
}


footer {
	margin-top: auto;
	color: black;
	text-align: center;
}
p{
	color: aliceblue;
	font-size: large;
	font-weight: 700;
}

.list-non-bullet {
list-style: none;
padding-inline-start: 0px;
}
	
.list-item-inline {
display: inline;
padding: 0rem 0.5rem;
}
.footer ul {
	padding-inline-start: 0px;
  }

  footer {
  
	padding: 4rem 1rem;
	margin-top: 2rem;
	text-align: center;
	color: white;
	border-top-right-radius: 1rem;
  }
  
  .footer .link {
	color: white
  }
  
  .footer .footer-header {
	font-weight: bold;
	font-size: large;
  }